-*{
    margin: 0px;
    padding: 0px;

}
.menu-container{
    background-color: rgb(65, 63, 63);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
margin-right: 10px;
padding-right: 7px;
font-size: 18px;
cursor: pointer;
}
.item:hover{
    color: blue;
}
.banner-img{
    width: 350px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("images/background.png"),
    linear-gradient(45deg,#141414,#2e2e2e);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titel{
    font-size: 55px;
    font-weight: bold;
}
.head{
    font-size: 30px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    
}
.about-container{
display: flex;
justify-content: space-around;
align-items: normal;
flex-direction: row-reverse;
padding: 10px;
background-position: center;
}
.about-titel{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.about-img{
    width: 10px;
}
.btnn{
    padding: 7px 15px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 10px;
    
}
.box{
    width: 200px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 5px;
    
}
.icon{
    width: 70px;
}
.box-btn{
  background-color:rgb(49, 49, 49) ; margin-bottom: 5px; 
  
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
}
.image{
    background-image: url("images/background.png"),
    linear-gradient(45deg,#141414,#2e2e2e);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:  40px;
    padding-top: 10px;
    flex-wrap: wrap;
}
